# dein itself
[[plugins]]
repo = 'Shougo/dein.vim'

#--------------------------------
# General for coding/writing
#--------------------------------

# color scheme
[[plugins]]
repo = 'tomasr/molokai'
hook_add = '''
   set t_Co=256
   set termguicolors
   set background=dark
'''

# enhance syntacs check
[[plugins]]
repo = 'scrooloose/syntastic' 
hook_add = '''
  let g:syntastic_check_on_open = 1
  let g:syntastic_check_on_wq = 0
  highlight SyntasticErrorLine cterm=bold,underline ctermfg=white ctermbg=red
  highlight SyntasticWarningLine cterm=bold,underline ctermfg=red ctermbg=none
  let g:syntastic_python_checkers = ['pyflakes', 'pep8']
  let g:syntastic_python_pep8_args = '--ignore=E126,E203'
  let g:syntastic_python_flake8_args = '--ignore=E126,E203'
'''

# Shougo wares
[[plugins]]
repo = 'Shougo/unite.vim'

[[plugins]]
repo = 'Shougo/unite-outline'
depends = ['Shougo/unite.vim']


# on_i
[[plugins]]
repo = 'Raimondi/delimitMate'
on_i = 1



[[plugins]]
repo = 'scrooloose/nerdtree'

[[plugins]]
repo = 'vim-scripts/grep.vim'

# git
[[plugins]]
repo = 'tpope/vim-fugitive'

# quick run
[[plugins]]
repo = 'thinca/vim-quickrun'

#---------------------------
# Web Service
#---------------------------

# Slack
[[plugins]]
repo = 'yaasita/edit-slack.vim'
hook_add = '''
  let g:yaasita_slack_token = "PAYRS3oAetV2Dy97q0niSCTv"
'''
